/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*MISCELANEOUS*/
.p-xlarge {
  padding: 30px; }

.p-large {
  padding: 25px; }

.p-medium {
  padding: 20px; }

.p-xsmall {
  padding: 15px; }

/* RESET*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*GLOBALS*/
html {
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(135deg, red 0%, #ff0004 10%, white 11%, white 20%, #00109B 21%, #00109B 30%, white 31%, white 40%, red 41%, red 50%, white 51%, white 60%, #00109B 61%, #00109B 70%, white 71%, white 80%, red 81%, red 90%, white 91%, white 100%);
  font-size: 62.5%; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #aa0000;
  font-size: 30px; }

a {
  transition: 0.2s; }

a:hover {
  background-color: #f1f100d3;
  box-shadow: 0 0 10px #f1f100d3, 0 0 40px #f1f100d3, 0 0 80px #f1f100d3;
  border-radius: 50px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(135deg, red 0%, #ff0004 10%, white 11%, white 20%, #00109B 21%, #00109B 30%, white 31%, white 40%, red 41%, red 50%, white 51%, white 60%, #00109B 61%, #00109B 70%, white 71%, white 80%, red 81%, red 90%, white 91%, white 100%);
  font-size: 62.5%;
  line-height: normal;
  color: black; }

h1 {
  color: black;
  font-size: 30px;
  background-color: white;
  border: black solid 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }

.h5,
h5 {
  font-size: 50px;
  color: #aa0000;
  background-color: white;
  border: black solid 5px; }

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0; }

main {
  min-height: 100vh; }

input {
  border: black solid 5px; }

select {
  border: black solid 5px; }

textarea {
  border: black solid 5px; }

.btn-group-lg > .btn,
.btn-lg {
  color: white;
  font-size: 25px;
  border: 5px solid black; }

.btn-danger {
  background-color: #aa0000; }

.btn:hover {
  background-color: #aa0000;
  box-shadow: 0 0 10px #f1f100d3, 0 0 40px #f1f100d3, 0 0 80px #f1f100d3; }

@keyframes twister {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*PARTIALS*/
/*header*/
header .navbar {
  background: linear-gradient(to top, #926229, #FAF3A0, #926229);
  border: solid black 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; }
  header .navbar--active, header .navbar--activeColor {
    background-color: #f1f100d3;
    box-shadow: 0 0 10px #f1f100d3, 0 0 40px #f1f100d3, 0 0 80px #f1f100d3;
    border-radius: 50px; }
  header .navbar-nav {
    text-align: center; }
  header .navbar__logo {
    padding: 5px; }

header .navLink {
  color: #aa0000;
  font-size: 35px; }

@media screen and (max-width: 1200px) {
  header .navbar {
    flex-wrap: wrap;
    justify-content: center; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center; }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 50px; } }

footer {
  background: linear-gradient(to top, #926229, #FAF3A0, #926229);
  border: solid black 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }
  footer h3 {
    font-size: 30px;
    color: #aa0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }
  footer .redes {
    padding: 10px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap; }
    footer .redes__red {
      height: 40px; }
    footer .redes__instagram {
      height: 50px; }
    footer .redes__twitter {
      height: 50px; }
    footer .redes__facebook {
      height: 50px; }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  footer h3 {
    font-size: 23px; }
  footer .redes {
    padding: 0px; }
    footer .redes__red {
      height: 15px; }
    footer .redes__instagram {
      height: 25px; }
    footer .redes__twitter {
      height: 25px; }
    footer .redes__facebook {
      height: 25px; } }

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
  footer h3 {
    font-size: 18px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  footer h3 {
    font-size: 16px; } }

/*VIEWS*/
.sectionUno__logoCentral {
  display: flex;
  justify-content: center; }
  .sectionUno__logoCentral img {
    animation: twister 4s infinite alternate linear; }

.sectionDos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }
  .sectionDos__lista {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }

/*MEDIA QUERIS 1200px 1*/
@media screen and (max-width: 1200px) {
  .sectionUno__logoCentral {
    height: 300px; } }

.sectionDos__lista {
  gap: 20px; }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  .sectionDos__seccionesImg {
    height: 150px; } }

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
  .sectionUno__logoCentral {
    height: 250px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  .sectionUno__logoCentral {
    height: 150px; }
  .sectionDos__seccionesImg {
    height: 140px; } }

.SobreMiTituloLogo__titulo {
  background-color: white;
  border: black solid 5px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.SobreMiTituloLogo__contenedorLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.SobreMiJoacoImgParrafo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }
  .SobreMiJoacoImgParrafo__imgPar {
    margin-top: 20px;
    margin-bottom: 20px; }
  .SobreMiJoacoImgParrafo__quienSoy {
    background-color: white;
    border: black solid 5px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px; }
    .SobreMiJoacoImgParrafo__quienSoy h2 {
      font-size: 50px; }
    .SobreMiJoacoImgParrafo__quienSoy p {
      font-size: 30px;
      padding: 50px 50px 50px 50px; }
  .SobreMiJoacoImgParrafo__Img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }

/*MEDIA QUERIS 1200px 1*/
@media screen and (max-width: 1200px) {
  .SobreMiJoacoImgParrafo__joacoImagen {
    height: 350px; }
  .SobreMiJoacoImgParrafo__quienSoy h2 {
    font-size: 40px; }
  .SobreMiJoacoImgParrafo__quienSoy p {
    font-size: 20px;
    padding: 40px 40px 40px 40px; } }

/*MEDIA QUERIS 1024px 2*/
@media screen and (max-width: 1024px) {
  .SobreMiJoacoImgParrafo__joacoImagen {
    height: 301px; }
  .SobreMiJoacoImgParrafo__quienSoy {
    width: 458px; } }

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
  .SobreMiJoacoImgParrafo__joacoImagen {
    height: 250px; }
  .SobreMiJoacoImgParrafo__quienSoy {
    width: 399px; } }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  .SobreMiJoacoImgParrafo__quienSoy {
    width: 399px; } }

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
  .SobreMiJoacoImgParrafo__joacoImagen {
    height: 179px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  .SobreMiTituloLogo__logoImagen {
    height: 150px; }
  .SobreMiJoacoImgParrafo__joacoImagen {
    height: 150px; }
  .SobreMiJoacoImgParrafo__quienSoy {
    width: 241px; }
    .SobreMiJoacoImgParrafo__quienSoy h2 {
      font-size: 35px; } }

.ServiciosTituloLogo__titulo {
  background-color: white;
  border: black solid 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  font-size: 30px;
  margin-bottom: 20px; }

.ServiciosTituloLogo__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.ServiciosTabla {
  margin-top: 30px; }
  .ServiciosTabla__tabla,
  .ServiciosTabla th,
  .ServiciosTabla td {
    border: 5px solid;
    background-color: white;
    font-size: 60px;
    text-align: center; }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  .ServiciosTabla__tabla,
  .ServiciosTabla th,
  .ServiciosTabla td {
    font-size: 45px; } }

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
  .ServiciosTabla__tabla,
  .ServiciosTabla th,
  .ServiciosTabla td {
    font-size: 40px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  .ServiciosTabla__tabla,
  .ServiciosTabla th,
  .ServiciosTabla td {
    font-size: 35px; } }

.reservasTituloLogo__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  margin-top: 20px; }

.reservasFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px; }
  .reservasFormulario__formulario {
    background: white;
    border: black solid 5px;
    font-size: 30px;
    width: 814px; }
  .reservasFormulario__nombreyapellido {
    display: flex;
    justify-content: center;
    align-items: center; }
  .reservasFormulario__email {
    display: flex;
    justify-content: center;
    align-items: center; }
  .reservasFormulario__celular {
    display: flex;
    justify-content: center;
    align-items: center; }
  .reservasFormulario__fechayhora {
    display: flex;
    justify-content: center;
    align-items: center; }
  .reservasFormulario__servicios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .reservasFormulario__boton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }

.reservasUbiPar__logoUbicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.reservasUbiPar p {
  background-color: white;
  border: black solid 5px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

/*MEDIA QUERIS 1024px 2*/
@media screen and (max-width: 1024px) {
  .reservasFormulario__formulario {
    font-size: 25px;
    width: 618px; } }

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
  .reservasFormulario__formulario {
    font-size: 23px;
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }
  .reservasFormulario__nombreyapellido {
    display: flex;
    flex-direction: column; }
  .reservasFormulario__email {
    display: flex;
    flex-direction: column; }
  .reservasFormulario__celular {
    display: flex;
    flex-direction: column; }
  .reservasFormulario__fechayhora {
    display: flex;
    flex-direction: column; } }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  .reservasFormulario__formulario {
    font-size: 23px;
    width: 333px; } }

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
  .reservasFormulario__formulario {
    font-size: 20px;
    width: 302px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  .reservasFormulario__formulario {
    width: 294px; } }

.estilosSeccionImg__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.estilosSeccionImg_peinados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; }

.corte-1 {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-image: url(../../public/img/corte1.jpg); }

.corte-2 {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-image: url(../../public/img/corte2.jpg); }

.corte-3 {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-image: url(../../public/img/corte3.jpg); }

.corte-4 {
  width: 210px;
  height: 210px;
  background-size: cover;
  background-image: url(../../public/img/corte4.jpg); }

.EstilosCarrousel__tituloMejoresEstilos h2 {
  background-color: #aa0000;
  border: black 5px solid;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white; }

.EstilosCarrousel__carrouselParrafo {
  font-size: 20px;
  background-color: black; }

.EstilosCarrousel .carousel {
  margin-bottom: 20px;
  border: black 5px solid; }

/*MEDIA QUERIS 1200px 1*/
@media screen and (max-width: 1200px) {
  .estilosSeccionImg__tiposDeEstilosLogo {
    height: 160px; }
  .estilosSeccionImg__estiloImagenes {
    height: 160px; } }

/*MEDIA QUERIS 1024px 2*/
@media screen and (max-width: 1024px) {
  .estilosSeccionImg__tiposDeEstilosLogo {
    height: 140px; }
  .estilosSeccionImg__estiloImagenes {
    height: 140px; } }

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
  .estilosSeccionImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; } }

.ContactoTituloLogo__logoCentral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap; }

.contactoFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 20px; }
  .contactoFormulario__formulario {
    background: white;
    border: solid black 5px;
    font-size: 30px;
    width: 814px; }
  .contactoFormulario__nombreyapellido {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contactoFormulario__email {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contactoFormulario__celular {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contactoFormulario__motivo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contactoFormulario__comentario {
    display: flex;
    align-items: center;
    justify-content: center; }
    .contactoFormulario__comentario textarea {
      height: 100px;
      width: 225px; }
  .contactoFormulario__boton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
  .contactoFormulario__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    font-size: 28px;
    width: 338px; }
  .contactoFormulario__nombreyapellido {
    display: flex;
    flex-direction: column; }
  .contactoFormulario__email {
    display: flex;
    flex-direction: column; }
  .contactoFormulario__celular {
    display: flex;
    flex-direction: column; }
  .contactoFormulario__motivo {
    display: flex;
    flex-direction: column; }
  .contactoFormulario__comentario {
    display: flex;
    flex-direction: column; }
  .contactoFormulario__boton {
    display: flex;
    flex-direction: column; } }

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
  .contactoFormulario__formulario {
    font-size: 28px;
    width: 390px; } }

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
  .contactoFormulario__formulario {
    font-size: 18px;
    width: 238px; }
  .contactoFormulario textarea {
    height: 85px;
    width: 197px; } }
