/*header*/
header {
    .navbar {
        background: $color-footer-header;
        border: solid black 5px;
        @include flex (row, center, center, 20px);

        &--active {
            background-color: #f1f100d3;
            box-shadow: 0 0 10px #f1f100d3, 0 0 40px #f1f100d3, 0 0 80px #f1f100d3;
            border-radius: 50px;
        }

        &--activeColor{
            @extend .navbar--active}

    &-nav {text-align: center;}

       
    }

    .navLink {
        color: $color-principal;
        font-size: 35px;
    }


}

@media screen and (max-width: 1200px) {

    header {

        .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 50px;
    }

}