.ContactoTituloLogo {
    &__logoCentral {
        @include flex (row, center);
    }
}

.contactoFormulario {
    @include flex (row, center);
    margin-top: 80px;
    margin-bottom: 20px;

    &__formulario {
        background: white;
        border: solid black 5px;
        font-size: 30px;
        width: 814px;
    }

    &__nombreyapellido {    display: flex;
        justify-content: center;
        align-items: center;
    }

    &__email{display: flex;
        justify-content: center;
        align-items: center;}

    &__celular{display: flex;
        justify-content: center;
        align-items: center;}

    &__motivo{display: flex;
        justify-content: center;
        align-items: center;}

    &__comentario {
            display: flex;
            align-items: center;
            justify-content: center;
            textarea {
                height: 100px;
                width: 225px;
            }
        }

    &__boton {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;}


}

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
    .contactoFormulario {
        &__formulario {
            @include flex (column, center);
            font-size: 28px;
            width: 338px;

        }

        &__nombreyapellido {    display: flex;
            flex-direction: column;
}
        
    
        &__email {display: flex;
            flex-direction: column;
}
    
        &__celular {display: flex;
            flex-direction: column;
}
    
        &__motivo {display: flex;
            flex-direction: column;
}
    
        &__comentario {
                display: flex;
                flex-direction: column;
}
            
        &__boton {
            display: flex;
            flex-direction: column;
        }
}
}
    
    


/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
    .contactoFormulario {
        &__formulario {
            font-size: 28px;
            width: 390px;
        }
    }
}

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
    .contactoFormulario {
        &__formulario {
            font-size: 18px;
            width: 238px;

        }

        textarea {
            height: 85px;
            width: 197px;
        }
    }
}