.estilosSeccionImg {
    &__logo {
        @include flex (row, center, center);
    }

    &_peinados {
        @include flex (row, space-evenly, center, 20px);
    }

}

@for $i from 1 through 4 {
    .corte-#{$i} {
        width: 210px;
        height: 210px;
        background-size: cover;
        background-image: url(../../public/img/corte#{$i}.jpg);
    }
}


.EstilosCarrousel {
    &__tituloMejoresEstilos h2 {
        background-color: $color-principal;
        border: black 5px solid;
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }

    &__carrouselParrafo {
        font-size: 20px;
        background-color: black;
    }

    .carousel {
        margin-bottom: 20px;
        border: black 5px solid;
    }
}

/*MEDIA QUERIS 1200px 1*/
@media screen and (max-width: 1200px) {

    .estilosSeccionImg {
        &__tiposDeEstilosLogo {
            height: 160px;
        }

        &__estiloImagenes {
            height: 160px;
        }
    }
}

/*MEDIA QUERIS 1024px 2*/
@media screen and (max-width: 1024px) {
    .estilosSeccionImg {
        &__tiposDeEstilosLogo {
            height: 140px;
        }

        &__estiloImagenes {
            height: 140px;
        }
    }
}

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
    .estilosSeccionImg {
        @include flex (column, center, center);
    }
}