.sectionUno {

    &__logoCentral {
        display: flex;
        justify-content: center;

        img {
            animation: twister 4s infinite alternate linear;
        }
    }


}

.sectionDos {
    @include flex (row, center, center);

    &__lista {
        margin-top: 20px;
        @include flex (row, center, center);

    }

}

/*MEDIA QUERIS 1200px 1*/
@media screen and (max-width: 1200px) {
    .sectionUno {
        &__logoCentral {
            height: 300px;
        }
    }
}

.sectionDos {
    &__lista {
        gap: 20px;
    }
}

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
    .sectionDos {
        &__seccionesImg {
            height: 150px;
        }
    }
}

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
    .sectionUno {
        &__logoCentral {
            height: 250px;
        }
    }
}

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
    .sectionUno {
        &__logoCentral {
            height: 150px;
        }
    }

    .sectionDos {
        &__seccionesImg {
            height: 140px;
        }
    }
}