.reservasTituloLogo {
    &__logo {
        @include flex (row, center, center);
        margin-top: map-get($estilos, margensuperior);
    }
}

.reservasFormulario {
    @include flex (row, center, center);
    margin-top: map-get($estilos, margensuperior);
    margin-bottom: map-get($estilos, margeninferior);

    &__formulario {
        background: white;
        border: map-get($estilos, borde);
        font-size: 30px;
        width: 814px;
    }

    &__nombreyapellido {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__email {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__celular {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__fechayhora {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__boton {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

.reservasUbiPar {

    &__logoUbicacion {
        @include flex (row, center, center);
    }

    p {
        background-color: map-get($estilos, fondoblanco);
        border: map-get($estilos, borde);
        font-size: 30px;
        @include flex (row, center, center);
    }
}

/*MEDIA QUERIS 1024px 2*/
@media screen and (max-width: 1024px) {
    .reservasFormulario {
        &__formulario {
            font-size: 25px;
            width: 618px;
        }
    }
}

/*MEDIA QUERIS 768px*/
@media screen and (max-width: 768px) {
    .reservasFormulario {
        &__formulario {
            font-size: 23px;
            width: 338px;
            @include flex (column, center, center);
        }

        &__nombreyapellido {
            display: flex;
            flex-direction: column;
        }


        &__email {
            display: flex;
            flex-direction: column;
        }

        &__celular {
            display: flex;
            flex-direction: column;
        }

        &__fechayhora {
            display: flex;
            flex-direction: column;
        }

    }

}

/*MEDIA QUERIS  600px */
@media screen and (max-width: 600px) {
    .reservasFormulario {
        &__formulario {
            font-size: 23px;
            width: 333px;
        }
    }
}

/*MEDIA QUERIS 480px*/
@media screen and (max-width: 480px) {
    .reservasFormulario {
        &__formulario {
            font-size: 20px;
            width: 302px;
        }
    }
}

/*MEDIA QUERIS 320px*/
@media screen and (max-width: 320px) {
    .reservasFormulario {
        &__formulario {
            width: 294px;
        }
    }
}